.user-ranking {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .user-ranking h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .user-ranking ul {
    list-style: none;
    padding: 0;
  }
  
  .user-ranking li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-ranking .user-rank {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .user-ranking .user-icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  .user-ranking .user-name {
    font-size: 18px;
  }
  .user-ranking .profile-image {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin-right: 10px;
  }
  

  .rank-user {
    position: relative;
    transition: transform 0.5s ease;
  }
  
  .rank-enter {
    transform: translateY(-100%);
  }
  
  .rank-enter-active {
    transform: translateY(0);
    transition: transform 0.5s ease;
  }
  